{# {% extends 'base.html.twig' %} #}
{% block head %}
<head>
        <title>Se connecter</title>
        {% block stylesheets %}
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/login.css') }}" >
        {% endblock %}
</head>

{# {% block title %}Se Connecter{% endblock %} #}
{% endblock %}
{% block body %}

<div class="container">
<div class="row">
<div class="col-3 offset-9">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

            {# <h1 class="h1 mb-3 font-weight-normal">Espace Admin</h1> #}
            <h2 class="h3 mb-3 font-weight-normal">Se connecter</h2>
              <div class="mb-3">
            <label for="inputEmail">Identifiant</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
              <div class="mb-3">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Ouvrir une session
    </button>
            
        </form>
        </div>
        </div>
</div>


{% endblock %}
