{% extends 'base.html.twig' %}
{% block body %}
  <body id="top">
{% include('nav.html.twig') %}
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div
      id="pageintro"
      class="wrapper row1 bgded"
      style="background-image: url('assets/images/backgrounds/01.jpg')"
    >
      <figure class="hoc clear">
        <!-- ################################################################################################ -->
        <figcaption class="heading"></figcaption>
        {% for article in featured %}
        <div class="group">
          <article class="">
            <a class="imgover" href="#"
              ><img class=""
                src="{{ asset('uploads/images/featured/' ~ article.getFeaturedImage()) }}"
                alt=""
            /></a>
            {# <div class="excerpt">
              <h6 class="heading">{{article.title}}</h6>
              <div class="clear">
                <footer class="fl_right">
                  <a href="#"
                    >Lire l'article <i class="fas fa-angle-right"></i
                  ></a>
                </footer>
                <ul class="nospace meta fl_left">
                  <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
                  <li><i class="fas fa-tag"></i> <a href="#">Tag Name</a></li>
                  <li>
                    <i class="far fa-clock text-info"></i>
                    {{article.getReadingTime()}}
                  </li>
                </ul>
              </div>
            </div> #}
          </article>
          </div>
        {% endfor %}
        {# <img src="assets/images/01.jpg" alt="" /> #}
        <!-- ################################################################################################ -->
      </figure>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
      <main class="hoc container clear">
        <!-- main body -->

        <!-- ################################################################################################ -->
        <div class="sectiontitle">
          <h3 class="heading">LE COUP D'OEIL DE L'A.M.R.I</h3>
          <p></p>
        </div>
        <ul id="services" class="nospace group">
          <li class="one_third">
            <article>
              <h6 class="heading">
                <i class="fas fa-certificate"></i>
                <a href="#">Accessible</a>
              </h6>
              <p>
               Imaginée par les étudiants du Master Histoire - Relations Internationales, cette revue se veut accessible à tous : aux étudiants comme aux amateurs  [&hellip;]
              </p>
              <footer>
                {# <a href="#">View Details <i class="fas fa-angle-right"></i></a> #}
              </footer>
            </article>
          </li>
          <li class="one_third">
            <article>
              <h6 class="heading">
                <i class="fas fa-globe-americas"></i>
                <a href="#">Actualité internationale</a>
              </h6>
              <p>
                Retrouvez-nous chaque mois pour un tour du monde de l'actualité internationale [&hellip;]
              </p>
              <footer>
                {# <a href="#">View Details <i class="fas fa-angle-right"></i></a> #}
              </footer>
            </article>
          </li>
          <li class="one_third">
            <article>
              <h6 class="heading">
                <i class="fas fa-cloud-download-alt"></i>
                <a href="#">Téléchargeable</a>
              </h6>
              <p>
                La revue est entièrement téléchargeable et en accès libre [&hellip;]
              </p>
              <footer>
                {# <a href="#">View Details <i class="fas fa-angle-right"></i></a> #}
              </footer>
            </article>
          </li>
        </ul>
        <footer class="center">
          <a class="btn" href="#"
            >Découvrir <i class="fas fa-angle-right"></i
          ></a>
        </footer>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
      </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper coloured">
      <article class="hoc cta clear">
        <!-- ################################################################################################ -->
        <h6 class="three_quarter first">
          Varius quisque semper dolor eget neque dictum ac faucibus leo
          fermentum
        </h6>
        <footer class="one_quarter">
          <a class="btn" href="#"
            >Suspendisse sapien <i class="fas fa-angle-right"></i
          ></a>
        </footer>
        <!-- ################################################################################################ -->
      </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div
      class="wrapper bgded overlay"
      style="background-image: url('assets/images/backgrounds/02.jpeg')"
    >
      <section id="introblocks" class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
          <h6 class="heading">Ailleurs dans le monde [...]</h6>
          <p>
            Posuere arcu sed luctus nibh non viverra rutrum neque nulla pretium
          </p>
        </div>
        <ul class="nospace group">
          <li class="one_third first">
            <article>
              <a href="#"><i class="far fa-comment"></i></a>
              <h6 class="heading"></h6>
              <p>
                Fin de la crise du Golfe : quel avenir pour le Moyen-Orient ?
              </p>
              <footer>
                <a class="btn" href="#"
                  >Lire l'article<i class="fas fa-angle-right"></i
                ></a>
              </footer>
            </article>
          </li>
          <li class="one_third">
            <article>
              <a href="#"><i class="fas fa-street-view"></i></a>
              <h6 class="heading">Nibh justo nunc varius</h6>
              <p>
                Ex nec iaculis phasellus ultricies nisi a elit vestibulum
                posuere class aptent taciti sociosqu [&hellip;]
              </p>
              <footer>
                <a class="btn" href="#"
                  >Read More <i class="fas fa-angle-right"></i
                ></a>
              </footer>
            </article>
          </li>
          <li class="one_third">
            <article>
              <a href="#"><i class="fas fa-volleyball-ball"></i></a>
              <h6 class="heading">Neque pretium nunc</h6>
              <p>
                Ad litora torquent per conubia nostra per inceptos himenaeos
                praesent fringilla tempor quam in [&hellip;]
              </p>
              <footer>
                <a class="btn" href="#"
                  >Read More <i class="fas fa-angle-right"></i
                ></a>
              </footer>
            </article>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
      <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
          <h6 class="heading">Articles & Revues</h6>
          <p>
            Risus quam gravida eu sapien eget dignissim suscipit leo duis vitae
          </p>
        </div>
        <div id="latest" class="group">
        {% for article in articles %}
          <article class="one_half wrap_mobile">
            <a class="imgover" href="#"
              ><img
                src="{{ asset('uploads/images/featured/' ~ article.getFeaturedImage()) }}"
                alt=""
            /></a>
            <div class="excerpt">
              <h6 class="heading">{{article.title}}</h6>
              <p>{{ article.getExcerpt(250) }}  [&hellip;]</p>
              <div class="clear">
                <footer class="fl_right">
                  <a href="/article/{{article.getSlug() }}"
                    >Lire l'article <i class="fas fa-angle-right"></i
                  ></a>
                </footer>
                <ul class="nospace meta fl_left">
                  <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
                  <li><i class="fas fa-tag"></i> <a href="#">Tag Name</a></li>
                  <li>
                    <i class="far fa-clock text-info"></i>
                    {{article.getReadingTime()}} min de lecture
                  </li>
                </ul>
              </div>
            </div>
          </article>
          {# <article class="one_half">
            <a class="imgover" href="#"
              ><img src="images/demo/546x410.png" alt=""
            /></a>
            <div class="excerpt">
              <h6 class="heading">Laoreet felis lobortis fusce</h6>
              <p>
                Dui elit placerat vel maximus eu ullamcorper et lectus cras eu
                dolor nec nibh efficitur vehicula duis dictum tristique urna
                [&hellip;]
              </p>
              <div class="clear">
                <footer class="fl_right">
                  <a href="#">Read More <i class="fas fa-angle-right"></i></a>
                </footer>
                <ul class="nospace meta fl_left">
                  <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
                  <li><i class="fas fa-tag"></i> <a href="#">Tag Name</a></li>
                </ul>
              </div>
            </div>
          </article> #}
        {% endfor %}
        </div>
        <footer class="center">
          <a class="btn" href="#"
            >Voir plus d'articles <i class="fas fa-angle-right"></i
          ></a>
        </footer>
        <!-- ################################################################################################ -->
      </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
      <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_half first">
          <h6 class="heading">l'AMRI sur les plateformes / réseaux sociaux</h6>
          <p class="btmspace-30">
            Libero consectetur fringilla augue nullam enim nisi feugiat vel
            finibus.
          </p>
          <ul class="nospace linklist contact">
            <li><i class="far fa-envelope"></i> amri.lacatholille@gmail.com</li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <address>Street Name &amp; Number, Town, Postcode/Zip</address>
            </li>
          </ul>
           <div class="social_networks"><a href=""><i class="fab fa-instagram"></i></a><a href=""><i class="fab fa-linkedin"></i></a><a href=""><i class="fab fa-facebook"></i></a></div>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Articles récents</h6>
          <ul class="nospace linklist">
            <li><a href="#">phasellus condimentum nisl</a></li>
            <li><a href="#">fames ac turpis nunc egestas</a></li>
            <li><a href="#">senectus et netus malesuada</a></li>
            <li><a href="#">quam habitant morbi tristique</a></li>
            <li><a href="#">ultricies ut tortor posuere</a></li>
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Newsletter</h6>
          <p class="nospace btmspace-30">
            A nibh facilisis tincidunt at et dui sed odio nisl rhoncus quis
            finibus id ut sit amet.
          </p>
          <form method="post" action="#">
            <fieldset>
              <legend>Newsletter:</legend>
              <input
                class="btmspace-15"
                type="text"
                value=""
                placeholder="Nom"
              />
              <input
                class="btmspace-15"
                type="text"
                value=""
                placeholder="Email"
              />
              <button type="submit" value="submit">Envoyer</button>
            </fieldset>
          </form>
        </div>
        <!-- ################################################################################################ -->
      </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">
          Copyright &copy; 2021 - Tous droits réservés -
          <a href="#">Nom de Domaine</a>
        </p>
        <!-- ################################################################################################ -->
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->

  </body>
  {% endblock %}