{% extends 'base.html.twig' %}

{% block title %}AMRI{% endblock %}

{% block body %}
<div class="container">
{% for article in articles %}
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img" src="{{ asset('uploads/images/featured/' ~ article.getFeaturedImage()) }}" alt="Bologna">
        <div class="card-img-overlay">
          {# <a href="#" class="btn btn-light btn-sm">{{article.getCategories()}}</a> #}
        </div>
        <div class="card-body">
          <h4 class="card-title">{{article.title}}</h4>
          <small class="text-muted cat">
            <i class="far fa-clock text-info"></i> {{article.getReadingTime()}}
          </small>
          <p class="card-text">{{article.content}}</p>
          <a href="#" class="btn btn-info">Lire l'article ..</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          {# <div class="views">{{article.getCreatedAt()}} #}
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 1347
            <i class="far fa-comment"></i> 12
          </div>
           {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
