/* page articles */
.card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-title {
  margin-bottom: 0.3rem;
}

.cat {
  display: inline-block;
  margin-bottom: 1rem;
}

.fa-users {
  margin-left: 1rem;
}

.card-footer {
  font-size: 0.8rem;
}

.social_networks {
  display: flex;
  margin-top: 30px;
}
.social_networks a {
  margin-left: 40px;
}
.social_networks i {
  font-size: 26px;
}
#latest {
  display: flex;
}
#latest article {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#latest article .excerpt {
  border: none;
}

@media screen and (max-width: 767px) {
  #latest {
    display: flex;
    flex-wrap: wrap;
  }
  #latest article {
    width: 100%;
  }
}

.margin_t {
  margin-top: 5%;
}
.article_content {
  color: black;
  padding: 80px 0;
  margin-left: 5%;
  margin-right: 5%;
}
.article_title {
  color: black;
}
.article_infos {
  color: black;
}
