body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(-70deg, #74a9e6 40%, rgba(0, 0, 0, 0) 30%),
    url("/images/bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}

form {
  width: 300px;
  margin-top: 100%;
}

.btn {
  background-color: #2bbbad;
  border-color: #2bbbad;
}

.form-control:focus {
  border-color: #2bbbad;
  box-shadow: 0 0 0 0.25rem rgb(43 187 173/ 0.25);
}
