{% extends '@EasyAdmin/layout.html.twig' %}
{% block stylesheets %}
{# <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css"> #}
{% endblock %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Administration</h1>
    <p class="lead">Bienvenue sur l'interface d'administration du site de l'AMRI</p>
</div>

 {% block javascripts %}
 {# <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script> #}
{% endblock %}
{% endblock %}