{% extends '@EasyAdmin/menu.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">
{% endblock %}
{% block content %}

<nav id="main-menu">
<div class="page-header">
  <div class="row align-items-center">
    <div class="col-auto">
      <span class="avatar avatar-md" style="background-image: url(...)"></span>
    </div>
    <div class="col">
      <h2 class="page-title">Harmony</h2>
      <div class="page-subtitle">
        <div class="row">
          <div class="col-auto">
            <!-- Download SVG icon from http://tabler-icons.io/i/building-skyscraper -->
            <!-- SVG icon code -->
            <a href="#" class="text-reset">Admin</a>
          </div>
          <div class="col-auto">
            <!-- Download SVG icon from http://tabler-icons.io/i/users -->
            <!-- SVG icon code -->
            <a href="#" class="text-reset">194 amis</a>
          </div>
          <div class="col-auto text-success">
            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
            <!-- SVG icon code with class="text-green" -->
            Verified
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto d-none d-md-flex">
      <a href="#" class="btn btn-primary">
        <!-- Download SVG icon from http://tabler-icons.io/i/message -->
        <!-- SVG icon code -->
        Send message
      </a>
    </div>
  </div>
</div>
</nav>
 {% block javascripts %}
 <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
{% endblock %}
{% endblock %}