        <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row0">
      <div id="topbar" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="nospace">
          <li>
            <a href="/" title="Accueil"><i class="fas fa-home"></i></a>
          </li>
          <li>
            <a href="#" title="Nous écrire"><i class="far fa-envelope"></i></a>
          </li>
          {# <li>
            <a href="#" title="Help Centre"><i class="far fa-life-ring"></i></a>
          </li> #}
          <li>
            <a href="/login" title="Admin"><i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="/register" title="S'inscrire"><i class="fas fa-edit"></i></a>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <section>
          <div><i class="fas fa-envelope-open-text"></i>
          amri.lacatholille@gmail.com</div>
          <div>
            <h1 id="logo">
            <img src="{{ asset('assets/images/logo.jpg') }}" alt="">
              {# <i class="fas fa-dove"></i>#} <a href="index.html">AMRI</a> 
            </h1>
          </div>
          <div>
            <form class="clear" method="post" action="#">
              <fieldset>
                <legend>Search:</legend>
                <input
                  type="search"
                  value=""
                  placeholder="Rechercher&hellip;"
                />
                <button class="fas fa-search" type="submit" title="Search">
                  <em>Search</em>
                </button>
              </fieldset>
            </form>
          </div>
        </section>
        <!-- ################################################################################################ -->
      </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row2">
      <nav id="mainav" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li class="active"><a href="index.html">Accueil</a></li>
          <li>
            <a class="drop" href="#">Articles & Revues</a>
            <ul>
              <li><a href="pages/gallery.html">Articles</a></li>
              <li><a href="pages/full-width.html">Revues</a></li>
              {# <li><a href="pages/sidebar-left.html"></a></li>
              <li><a href="pages/sidebar-right.html"></a></li>
              <li><a href="pages/basic-grid.html"></a></li> #}
              {# <li><a href="pages/font-icons.html">Font Icons</a></li> #}
            </ul>
          </li>
          <li>
            <a href="#">Podcasts</a>
            {# <ul>
              <li><a href="#">Level 2</a></li>
              <li>
                <a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul> #}
          </li>
          <li><a href="#">Conférence</a></li>
          <li><a href="#">Humans of AMRI</a></li>
          <li><a href="#">A propos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </div>