{% extends 'base.html.twig' %}
{% block body %}
<body id="top">
{% include('nav.html.twig') %}
<div id="pageintro">
{% for article in articles %}

        <div class="group margin_t">
        <div class="article_title">
        <h2>{{ article.title }}</h2>
        <p> <a href="">12 commentaires</a> | publié le {{article.getCreatedAt()|date('d-m-Y')}} | <i class="fas fa-feather-alt"></i> {{ article.users.firstName }}</p>
        </div>
          <article class="">
            <img class=""
                src="{{ asset('uploads/images/featured/' ~ article.getFeaturedImage()) }}"
                alt=""
            />
            </article>
            </div>

            <div class="article_content">
              <p>{{ article.getContent()|raw }}</p>
            </div>
{% endfor %}
</div>
</body>
{% endblock %}
